<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<filter>
		<description>BssLogFilter</description>
		<display-name>BssLogFilter</display-name>
		<filter-name>BssLogFilter</filter-name>
		<filter-class>com.linkage.commons.web.filter.LogFilter</filter-class>
		<init-param>
			<param-name>log_mode</param-name>
			<param-value>develop</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,struts/struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BssLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ListenerCleanServlet</servlet-name>
		<servlet-class>com.linkage.listener.web.ListenerCleanServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
